%h1 #{@exercise.title}
- @questions.each do |question|
  - if question.status == 'answered'
    %p= add_good_answer_icon content.gsub('__', "#{boldify question.answer}")
  -else 
    - content = question.content
    - user_answer_number = "user_answer_#{question.question_number}"
    - user_answer = session[user_answer_number]
    %form{method: "post"}
      - if user_answer == question.answer
        %p= add_good_answer_icon content.gsub('__', "#{boldify question.answer}")
      - elsif user_answer != nil && user_answer != "" && user_answer != question.answer
        %p= add_wrong_answer_icon content.gsub('__', "#{create_form_input user_answer_number} (#{boldify question.hint})")
      - else
        %p= content.gsub('__', "#{create_form_input user_answer_number} (#{boldify question.hint})")
    %input{type: "submit", value:"Répondre"}
